{ 
    BasedOnStyle: Chromium,
    AlignTrailingComments: true,
    BreakBeforeBraces: Linux,
    ColumnLimit: 140,
    IndentWidth: 4,
    KeepEmptyLinesAtTheStartOfBlocks: false,
	ObjCBlockIndentWidth: 4,
    ObjCSpaceAfterProperty: true,
    ObjCSpaceBeforeProtocolList: true,
    PointerBindsToType: false,
    SpacesBeforeTrailingComments: 1,
    TabWidth: 8,
    MaxEmptyLinesToKeep: 2,
    UseTab: Never, 
}

